@import "../bower_components/bourbon/dist/bourbon";
@font-face {
    font-family: GameOfThrones;
    src: url(fonts/GameOfThrones.ttf);
}

* { @include box-sizing(border-box); }

body {
	margin: 0;
	background: url('http://i.imgur.com/AWClkib.jpg?1') no-repeat center center fixed;
	background-size: cover;
}

h1 {
	font-size: 5em;
	text-align: center;
	font-family: GameOfThrones;
	color: white;
	font-weight: lighter;
}

.playerList {
	height: 500px;
	width: 100%;	
}

.imageContainer {
	height: 100%;
	width: 33.3%;
	float: left;
	padding: 50px;

	img {
		width:100%;
  	height:100%;
  	display:block;
  	background-size:cover;
  	border-radius: 50%;
  	border: gray solid 3px;
	}
}

.playerOne {
  background:url('http://img3.wikia.nocookie.net/__cb20120316184837/gameofthrones/images/c/c3/TyrionEW.png')no-repeat center center;
}

.playerTwo {
  background:url('http://www.odt.co.nz/files/story/2011/11/sean_bean_stars_as_lord_eddard_ned_stark_in_i_game_4eae500ad9.JPG')no-repeat center center;
}

.playerThree {
  background:url('http://static.comicvine.com/uploads/original/12/123851/2498566-arya_stark.jpg')no-repeat center center;
}





















